.panel-about{
    padding-top: 20px;
    text-align: center;
}

.panel-about .title{
    font-size: 2.6em;
    margin-bottom: 16px;
}

.panel-about .subtitle{
    font-size: 1.6em;
    margin-bottom: 16px;
}

.panel-about .about-description{
    font-size: 18px;
    line-height: 35px;
}