.container{
    width: 96%;
    margin: 0 auto;
}

.field{
    margin-bottom: 16px;
}

.field .field-label{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.field .field-input{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #48a3a6;
}
.button{

    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
    text-decoration: none;
    color: white;
    padding: 25px 50px;
    background-color: #48a3a6;
    border-radius: 8px;
    margin: 5px;
}